html
    body
        div
        #productos
            if productos
                table
                    tr
                        th Nombre
                        th Precio
                        th Imagen
                    each producto in productos
                        tr
                            td= producto.title
                            td= producto.price
                            td
                                img(src=producto.thumbnail style="width: 50px;")
            else
                span No hay productos
        a(href='/') Agregar producto

