
html
	body
		form(action='/productos' method='post')
			label(for='title') Title
			input(type='text' name='title' id='title')
			label(for='price') Price
			input(type='text' name='price' id='price')
			label(for='thumbnail') Thumbnail
			input(type='text' name='thumbnail' id='thumbnail')
			button(type="submit") Submit
		a(href='/productos') Ver productos