<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<%= title %>
	</title>
</head>

<body>
	<form action='/productos' method='post'>
		<label for='title'>Title</label>
		<input type='text' name='title' id='title' />
		<label for='price'>Price</label>
		<input type='number' name='price' id='price' />
		<label for='price'>Thumbnail</label>
		<input type='text' name='thumbnail' id='thumbnail' />
		<input type='submit' value='submit' />
	</form>
	<a href='/productos'>Ver productos</a>
</body>

</html>